[{{.ProxyOutbound}},{"protocol":"freedom","settings":{"domainStrategy":"UseIP"},"streamSettings":{"sockopt":{"mark":255}},"tag":"outBound_DIRECT"},{"protocol":"blackhole","sendThrough":"0.0.0.0","settings":{"response":{"type":"http"}},"tag":"outBound_BLACKHOLE"},{"protocol":"dns","streamSettings":{"sockopt":{"mark":255}},"tag":"dns-out"}]