{"domain":["geosite:google","geosite:github","geosite:netflix","geosite:steam","geosite:telegram","geosite:tumblr","domain:naver.com","geosite:bbc","domain:gvt1.com","domain:textnow.com","geosite:twitch.tv","geosite:wikileaks.org","geosite:chatgpt.com","geosite:perplexity.ai","domain:workers.dev"],"outboundTag":"outBound_PROXY","type":"field"}