{
  "domain": [
    "geosite:google",
    "geosite:github",
    "geosite:netflix",
    "geosite:steam",
    "geosite:telegram",
    "geosite:tumblr",
    "domain:naver.com",
    "geosite:bbc",
    "domain:gvt1.com",
    "domain:textnow.com",
    "geosite:twitch",
    "domain:wikileaks.org",
    "domain:chatgpt.com",
    "geosite:perplexity",
    "domain:workers.dev"
  ]
}