{
  "domain": [
    "geosite:google",
    "geosite:github",
    "geosite:netflix",
    "geosite:steam",
    "geosite:telegram",
    "geosite:tumblr",
    "domain:naver.com",
    "geosite:bbc",
    "domain:gvt1.com",
    "domain:textnow.com",
    "domain:twitch.com",
    "domain:wikileaks.org",
    "domain:chatgpt.com",
    "domain:perplexity.com",
    "domain:workers.dev"
  ],"outboundTag":"outBound_PROXY","type":"field"
}