{
  "protocol": "shadowsocks",
  "settings": {
    "servers": [
      {
        "address": "{{.Address}}",
        "port": {{.Port}},
        "method": "{{.Method}}",
        "password": "{{.Password}}",
        "level": 0
      }
    ]
  },
  "tag": "outBound_PROXY"
}