{"protocol":"shadowsocks","settings":{"servers":[{"address":"{{.Address}}","port":{{.Port}},"method":"{{.Method}}","password":"{{.Password}}"}]},"tag":"outBound_PROXY","streamSettings":{"network":"{{.Network}}","sockopt":{"mark":255}}}