{
  "protocol": "trojan",
  "settings": {
    "servers": [
      {
        "address": "{{.Address}}",
        "port": {{.Port}},
        "password": "{{.Password}}"
      }
    ]
  },
  "streamSettings": {
    "network": "{{.Network}}",
    "security": "{{.StreamSecurity}}",
    {{- if eq .StreamSecurity "tls" }}
    "tlsSettings": {
      "serverName": "{{.Sni}}",
      "allowInsecure": {{.AllowInsecure}},
      "fingerprint": "{{.Fingerprint}}"
    },
    {{- end }}
    {{- if eq .Network "ws" }}
    "wsSettings": {
      "path": "{{.Path}}",
      "headers": {
        "Host": "{{.Host}}"
      }
    },
    {{- end }}
    "sockopt": {
      "mark": 255,
      "tcpFastOpen": true
    }
  },
  "tag": "outBound_PROXY"
}