{"protocol":"trojan","settings":{"servers":[{"address":"{{.Address}}","port":{{.Port}},"password":"{{.Password}}"}]},"streamSettings": {"network": "tcp","security": "{{.TLS}}","tlsSettings": {"allowInsecure": false,"serverName": "{{.Host}}"},"sockopt": {"mark": 255,"tcpFastOpen": true}},"tag":"outBound_PROXY"}