{"protocol":"vless","settings":{"vnext":[{"address":"{{.Address}}","port":{{.Port}},"users":[{"id":"{{.Password}}","encryption":"none","flow":"{{.Flow}}"}]}]},"streamSettings":{"network":"{{.Net}}","security":"{{.Security}}","realitySettings":{"show":false,"fingerprint":"{{.Fp}}","serverName":"{{.Host}}","publicKey":"{{.Obfs}}","shortId":"{{.ObfsParam}}","spiderX":"/"},"sockopt":{"mark":255,"tcpFastOpen":true}},"tag":"outBound_PROXY"}